@charset "utf-8";

mi-boton, mi-boton2{
	padding: 10px;
	border: 5px solid green;
}

body{
	padding: 16px;
}

button[is="mi-boton-extendido"]{
	padding: 10px;
	font-weight: bold;
}

mi-mensaje{
	display: block;
	padding: 10px;
	border: 5px solid black;
	margin-bottom: 10px;
}

mi-mensaje[casi-visible]{
	border: none;
}

h1#mi-id{
	margin-left: 20rem;
	border: 1px solid red;
}

table {
   border: 1px solid #000;
}

th, td {
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
}

caption {
   padding: 0.3em;
   color: #fff;
    background: #0D75BB;
}

td#id_tabla , #id{
	width: 20px;
}

td#tabla_nombre, #tabla_apellido, #res, #res2{
	width: 150px;
}

td#tabla_sueldo, #sueldo2{
	width: 120px;
}


