<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="to-do-polymer">
  <template>
    <style>
      :host {
        display: block;
        font-family: sans-serif;
        text-align: center;
      }

      button{
        border: none;
        cursor: pointer;
      }

      ul{
        list-style: none;
        padding: 0;
      }

    </style>
    <h2>TO-DO LIST</h2>
    <input type="text" placeholder="Add a new To do">
    <button id="btn">✅</button>
    <hr>
    <p><strong>To do List</strong></p>
    <ul id="todos"></ul>
  </template>

  <script>
    /**
     * `to-do-polymer`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ToDoPolymer extends Polymer.Element {
      static get is() { return 'to-do-polymer'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'to-do-polymer'
          }
        };
      }

      ready(){
        super.ready();
        this.$.btn.addEventListener('click',e=>{this.addInList()});
      }

      addInList(){
        let li=document.createElement('li');
        li.textContent=this.shadowRoot.querySelector('input').value;
        this.shadowRoot.appendChild(li);
        this.shadowRoot.querySelector('input').value=""; 
      }
    }

    window.customElements.define(ToDoPolymer.is, ToDoPolymer);
  </script>
</dom-module>
