<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="my-toolbar">
  <template>
    <style>
      :host {
        padding: 4px;
        background-color: gray;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `my-toolbar`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyToolbar extends Polymer.Element {
      static get is() { return 'my-toolbar'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'my-toolbar'
          }
        };
      }
    }

    window.customElements.define(MyToolbar.is, MyToolbar);
  </script>
</dom-module>
