<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="dispatch-event-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Dispatch Event Example</h2>
    <button on-click="handeClick">Lanzar Evento</button>
  </template>

  <script>
    /**
     * `dispatch-event-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DispatchEventElement extends Polymer.Element {
      static get is() { return 'dispatch-event-element'; }

      constructor(){
        super();
        this.addEventListener('myEvent',function(e){
          console.log(e.detail.data, Date.now(),"self"); //true
        })
      }
      
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'dispatch-event-element'
          }
        };
      }

      handeClick(e){
        this.dispatchEvent(new CustomEvent('myEvent',{detail: {data: true}}));
      }



    }

    window.customElements.define(DispatchEventElement.is, DispatchEventElement);
  </script>
</dom-module>
