<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="components-polymer">
  <template>
    <style>
      :host {
        display: block;
      }
      table {
   border: 1px solid #000;
}

th, td {
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
}

caption {
   padding: 0.3em;
   color: #fff;
    background: #0D75BB;
}
    </style>
    <h1>Consulta de empleados</h1>
  <input type="number"  placeholder="Ingresa id empleado">
  <button id="btnbuscar">Buscar</button>
  <hr>

  <table align="center">
    <caption>View Simple Page</caption>
    <tr>
      <td colspan="4">Last Month New Customers</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>Nombre</td>
      <td>Apellido</td>
      <td>Amount (YEN)</td>
    </tr>
    <tr>
      <td id="aidi"></td>
      <td id="nombre"></td>
      <td id="apellido"></td>
      <td id="salario"></td>
    </tr>
  </table>
  <br><br>
  </template>

  <script>
    /**
     * `components-polymer`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentsPolymer extends Polymer.Element {
      static get is() { return 'components-polymer'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'components-polymer'
          }
        };
      }

      ready(){
        super.ready();
        this.$.btnbuscar.addEventListener('click',e=>{this.buscar()});
      }
      

      buscar(){
        
        let leer=this.shadowRoot.querySelector("input").value;
        let nombre=this.shadowRoot.querySelector("#nombre");
        let apellido=this.shadowRoot.querySelector("#apellido");
        let sueldo2=this.shadowRoot.querySelector("#salario");
        let aidi=this.shadowRoot.querySelector("#aidi");
        fetch('http://dummy.restapiexample.com/api/v1/employees')
        .then(function(response) {
          return response.json();
        })
        .then(function(objeto) {
        var obj=objeto;
        var arr=new Array();
        var sueldo= new Array();
        var nombree,nombre2;
        var separa, separa2;
        var con=1;
        //enConsola(req.responseText);
        for(var i=0; i<24;i++){
        //enPantalla(obj['data'][i]['employee_name']);
        arr[con]=obj['data'][i]['employee_name'];
        sueldo[con]=obj['data'][i]['employee_salary'];
        con++;
        }

        
        //console.log(arr[idinput]);
        //console.log(sueldo[9]);

        if(leer<25 && leer!=0){
          //alert(arr[buscar]);
          //res.value=arr[buscar];
          aidi.innerHTML=leer;
          separa=arr[leer].split(" ");
          nombree=separa[0];
          nombre.innerHTML=nombree;
          nombre2=separa[1];
          apellido.innerHTML=nombre2;
          sueldo2.innerHTML=sueldo[leer];
          

          //sueldo2.value=sueldo[buscar];
        }else if(leer==0){
          alert('no ingresar valor 0');
        }else{
          alert('no existe');
        }

        });

        

       
       this.shadowRoot.querySelector("input").value="";

      }
            
    }



    window.customElements.define(ComponentsPolymer.is, ComponentsPolymer);
  </script>
</dom-module>
